.nav-container {
  display: flex;
  z-index: 2;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  height: $nav-height;
  background-color: transparent;
  width: 100%;
  color: #fff;
  font-size: 1.25rem;
}

.logo {
  margin: 0 $elem-margin;
}

.nav-elements {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 700;
  font-size: 1.25rem;

  li {
    margin-right: $elem-margin*3;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
