.nav-container {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: transparent;
}

.nav-elements {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}
