.home-backdrop {
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: relative;

  img {
    object-fit: cover;
    height: 100%;

    -webkit-filter: brightness(40%);
    filter: brightness(40%);
  }
}

.home-movie-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  height: 80%;
  max-height: 300px;
}

.next-panel {
  position: absolute;
  top: $nav-height;
  right: 0%;
  height: 100%;
  max-width: 150px;
  width: 10%;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.back-panel {
  position: absolute;
  top: $nav-height;
  left: 0%;
  height: 100%;
  max-width: 150px;
  width: 10%;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
