.home-backdrop {
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: relative;

  img {
    object-fit: cover;
    height: 100%;
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
  }
}

.home-movie {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-width: 60vw;
}

.home-movie-details {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #fff;
  height: 80%;
  max-height: 200px;
  font-size: 1.25rem;

  h2 {
    margin: $elem-margin 0;
  }
}

.panel {
  position: absolute;
  top: $nav-height;
  height: 100%;
  max-width: 150px;
  width: 10%;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.next-panel {
  right: 0%;
}

.back-panel {
  left: 0%;
}

.home-poster {
  width: 50%;
  max-width: 400px;
  min-width: 250px;
  margin: 0 $elem-margin;
  img {
    border-radius: $border-radius;
  }
}
