@import "./variables";
@import "../components/navigation/navigation";
@import "../components/home/home";

h2 {
  font-size: 5rem;
}

.update-pro-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.submit-confirm {
  position: relative;
  width: 100%;
  background-color: $black;
  padding: 25px 50px;
  border-radius: $border-radius;
}

.cancel-container {
  display: flex;
  justify-content: flex-end;
  .x-svg {
    width: 4%;
    transition: 0.2s;
    &:hover {
      cursor: pointer;

      transition: 0.2s;
    }
    &:active {
      transition: 0.2s;
    }
  }
}
